body {
    background-color: #EFEFEF;
}

/*Title Bar*/
.title-bar {
    background-color: #1446a0;
    padding: 15px 50px;
}

.title-bar h1 {
    font-size: 35px;
    color: white;
    margin: 0;
}

/*list*/
.list-container {
    background: white;
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 5px;
    min-height: 700px;
    padding: 0 16px;
}

.list-title {
    border-bottom: 1px #EFEFEF solid;
}

.list-title h6 {
    padding: 15px 4px;
    margin: 0;
}

/*item*/
.item {
    display: flex;
    border-bottom: 1px solid #DDD;
}

.item .it-time-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .it-month {
    font-size: 25px;
    font-weight: 500;
}

.item .it-content {
    flex: 1;
}

.item .it-content h3 {
    font-weight: 400;
    font-size: 25px;
    margin: 20px 0 40px;
}

.item .it-content h3 a,.item .it-content h3 a:hover {
    color: black;
}

@media screen and (max-width: 1260px){
    .list-container {
        margin: 30px;
        width: auto;
    }
}