/* 重写.card */
.card {
    min-height: 400px !important;
    height: 100%;
    border-radius: 0 !important;
}

.card-header-s {
    background-color: white !important;
    border: 0 !important;
}

.footer_surface2 {
    padding: 0 !important;
}

.footer_surface1 {
    padding: 0 !important;
}

.footer_card_surface2 {
    color: white !important;
    background-color: #2e323d !important;
    border: 0 !important;
    min-height: 360px !important;
    padding: 20px !important;
}

.footer_card_surface1 {
    color: white !important;
    background-color: #2e323d !important;
    border: 0 !important;
    min-height: 100px !important;
    padding: 20px !important;
}


