.index-title {
    padding: 20px 0 20px 0;
}

.index-title hr {
    width: 20px;
    margin: 3px auto 10px auto;
}

.index-title h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
}

.index-title span {
    display: block;
    text-align: center;
    font-size: 11px;
}

.index-title img {
    width: 26px !important;
    height: 26px !important;
}

.index-title .d {
    margin: 0 auto;
    margin-top: 15px;
    border: none !important;
    outline: none !important;
    width: 150px;
    height: 1px;
}

.index-title .d_grid {
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
}

/* light */
.index-title-light hr {
    border: 2px white solid;
}

.index-title-light h1 {
    color: white;
}

.index-title-light span {
    color: white;
}

.index-title-light .d {
    background-color: #ffffff;
    position: relative;
}

/* dark */
.index-title-dark hr {
    border: 2px black solid;
}

.index-title-dark h1 {
    color: black;
}

.index-title-dark span {
    color: black;
}

.index-title-dark .d {
    background-color: #000000;
}



